@import url('https://fonts.googleapis.com/css2?family= Bebas +Neue & display=swap');

@Tipo de letra {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    peso da fonte: normal;
    estilo da fonte: normal;
}
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
:raiz {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Monospace;
    --fonte-destaque:'Bebas Neue', cursiva;
    --fonte-android: 'Android', cursiva;
  }

  *{
    margem: 0px;
    preenchimento: 0px;
  }


  
corpo {
    cor de fundo: #c5ebd6;
}

a.externo::após {
    conteúdo: '\00A0\1F517';

}

cabeçalho {
    cor de fundo: var(--cor4);
    altura mínima: 150px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

cabeçalho > h1 {
    cor branca;
    font-family: var(--fonte-destaque);
    alinhamento de texto: centro;
    padding-top: 40px;
    margem inferior: 20px;
    tamanho da fonte: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0,562);
}

cabeçalho > p {
    cor branca;
    alinhamento de texto: centro;
    font-family: var(--fonte-padrao);
    tamanho da fonte: 1em;
    largura máxima: 500px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margem: automática;
    margem inferior: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0,562);
}

navegação {
    font-family: var(--fonte-padrao);
    cor de fundo: #063d1e05;
    preenchimento: 7px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0,61);
}

navegação > a {
    cor: var(--cor1);
    preenchimento: 10px;
    decoração de texto: nenhum;
    intensidade da fonte: Negrito;
    raio da borda: 5px;
}

nav > a:hover {
    cor de fundo: var(--cor3);
    cor: var(--cor5);
    duração da transição: 0,5s;
}


principal {
    cor de fundo: branco;
    largura mínima: 300px;
    largura máxima: 1000px;
    margem: automática;
    margem inferior: 30px;
    preenchimento: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0,527);
    borda-inferior-esquerda-raio: 10px;
    raio inferior direito da borda: 10px;
}

div.video {
    cor de fundo: var(--cor5);
    margem: 0px -20px 30px;
    preenchimento: 20px;
    padding-bottom: 56%;
    posição: relativa;
}

div.vídeo > iframe {
    posição: absoluta;
    top 5%;
    esquerda: 5%;
    largura: 90%;
    altura: 90%;
}

p principal {
    font-family: var(--fonte-padrao);
    margem: 15px 0px;
    alinhamento de texto: justifique;
    recuo do texto: 30px;
    altura da linha: 2em;
    tamanho da fonte: 1em;
  }

  principal forte {
    intensidade da fonte: Negrito;
    cor: var(--cor4);
  }

principal um {
    decoração de texto: nenhum;
    intensidade da fonte: Negrito;
    cor: var(--cor5);
    cor de fundo: var(--cor1);
    preenchimento: 2px 6px;
}

principal a:hover {
    decoração de texto: sublinhado;
    cor: var(--cor4);
}

imagem principal {
    largura: 100%;
}

principal h1 {
    cor: var(--cor5);
    tamanho da fonte: 1,8em;
    peso da fonte: normal;
}

principal h1, h2 {
    font-family: var(--fonte-android);
}

principal h2 {
    cor: var(--cor4);
    tamanho da fonte: 1,3em;
    background-image: linear-gradient(para a direita, var(--cor1), transparent);
    recuo do texto: 10px;
    peso da fonte: normal;
}

.pequena {
    largura máxima: 350px;
    exibição: bloco;
    margem: automática;
}

aparte {
    font-family: var(--fonte-padrao);
    cor de fundo: var(--cor1);
    preenchimento: 10px;
    raio da borda: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0,280);
}

lado > h3 {
    cor de fundo: var(--cor4);
    cor branca;
    preenchimento: 10px;
    margem: -10px -10px 0px -10px;
    raio da borda: 10px 10px 0px 0px;
}

lado > ul {
    tipo de estilo de lista: '\2714\00A0\00A0';
    posição de estilo de lista: dentro;
    colunas: 2;
}


rodapé {
    font-family: var(--fonte-padrao);
    cor de fundo: var(--cor5);
    cor branca;
    alinhamento de texto: centro;
    tamanho da fonte: 0,8em;
    preenchimento: 5px;
}

rodapé a {
    cor branca;
    cor de fundo: var(--cor4);
    peso da fonte: mais ousado;
    decoração de texto: nenhum;
    preenchimento: 5px;
}

rodapé a:hover {
    decoração de texto: sublinhado;
    cor de fundo: var(--cor3);
    cor: var(--cor5);
}

/*
mm mm
mm   mm mm
mmmm mmmm
mm mm mm mm
mm mm mm
mm mm mm
mm mm
mm mm
mm mm
mm mm
*/